/* ------------profile---------------------- */
#profile{
    width: 100%;
    height: 1100px;
    position: relative;
    /* background-color: red; */
}

.profileContent{
    width: 95%;
    height: 600px;
    margin: 0 auto;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    padding: 5px;
}

.profileDescription{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    /* background-color: green; */

}

.profileDescription h1{
    font-family: sans-serif;
    font-size:x-large;
    font-weight: 600;
}

.profileDescription h2{
    font-size: larger;
    font-weight: 500;
    font-family: sans-serif;
}

.profileRate{
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
    margin: 5px 10px;
}

.accType{
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    margin: 5px 10px;
}

.accType img{
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

.categories{
    /* background-color: red; */
    margin: 5px 10px;
}

.profileRateItem{
    margin: 5px 15px 5px 0;
}

.totalScore{
    font-size: small;
}

.profileScore{
    color: orange;
    font-weight: 600;
}

.profileRate button{
    margin: -5px;
	height: 35px;
	width: 97px;
	border-radius: 20px;
	border: 1px solid black;
	color: #000;
	font-size: 15px;
	position: relative;
}

.profileRate button:hover{
    background-color: rgba(0, 0, 255, 0.2);
	border: 2px solid black;
}

.verifiedProfile{
    width: 95%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 63%, rgba(161,164,255,1) 100%);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
}

.verifiedProfileHeader{
    margin: 0 auto;
}

.verifiedProfileHeader h1{
    font-weight: 600;
}

.verifiedProfileHeader2{
    margin: 0 auto 15px auto;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 10px 0;
}

.verifiedProfileData{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.verifiedDatum{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.verifiedDatum h2{
    font-size: x-large;
}